<%= form_for @actor do |f| %>

<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :year_of_birth %>
  <%= f.text_field :year_of_birth %>

</p>

<p>
  <%= f.label :thumbnail %>
  <%= f.text_field :thumbnail%>

</p>


<%= f.submit %>
<% end %>
