<h1><%= @movie.title %></h1>


<p><%= @movie.youtubelink.html_safe%></p>


<h3> Actors:
  <% @movie.actors.each do |actor| %>
  <%= link_to actor.name, actor_path(actor) %>
  <% end %>
</h3>

<h4>Summary: <%= @movie.summary %></h4>

<h3>Click <%= link_to 'here', edit_movie_path %> to edit the movie.
</h3>

<h3>Click <%= link_to 'here', movies_path %> to return to the list of movies.
</h3>
